body{
	background-color: #088A85;
	padding-top:76.422px;
	margin-right: 5%;
	margin-left:5%;
	
}
* { box-sizing: border-box; }

 /*entire page body*/
 .container{
 	width: 100%;
 	margin: 0 auto;
	 padding-left: 20px;
	 padding-right: 20px;
	 border: width border-style color:lawngreen;
	 background-image: url("http://yaw-zeke.bitballoon.com/img/Y-6.jpg");
	 background-size: cover;
    
 }
/* header navigation*/
.nav{
	width:100%;
	position:fixed;
	top:0;
	padding: 0px 10px 0px;
	right:0px;
	align-items: center;
	background-color: white;
    /*margin-left:10% auto;
	margin-right:10% auto;*/
    padding-left: 20px;
    padding-right: 20px;
	height: 100px;

	
}
.nav ul li{
	display: inline;
	background-color: darkgrey;
	font-size: 1.3em;
	line-height:10%;
	
	
    
}
/*navigation font color*/
.nav ul li a {
	text-transform: uppercase;
	color: black;
	letter-spacing: 0.1em;
	float:right;
	margin-right:0px;
	
	
	
	
}
/*styling the logo .. */
.nav a{
	padding:20px;
	
		
}

/* Adding Pseudo- Classs.. */
.nav a:hover{
	color: lightsalmon;
	text-decoration: none;
	transition: color 600ms;
}

/*Header styling...... */
.header{
	padding: 20px;

}
.header h1 {
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Supermercado One', cursive;
	font-size: 3em;
	color: white;
}
.container h2{
	font-family:sans-serif;
}

.image{
	display: inline-block;
	float: left;
	padding-left: 10px;
	padding-right:10px;
	margin-bottom: 30px;
}

/* Adding style to Introduction */
.column{
	display: inline-block;
	float: left;
	width:40%;
	padding: 0 20px;
}

.intro{
	padding-left: 35px;
    padding-right: 30px;
	background-color: lightgrey;
	text-align: justify;
	margin-right: 10px;
	width:45%;
}

.intro p{
	font-size:1.5em;
	-webkit-margin-before: 0;
	text-align: left;
}

.intro h2{
	margin-top:0px;
	font-family:'Supermercado One', cursive;
	font-size: 2em;
}


/* Styling the skills column*/
.skills{
	background-color: #5AD4C2;
	width:35%;
	padding-left: 30px;
    padding-right: 30px;
	
}
.skills h3{
	text-align: left;
	text-transform: uppercase;
	line-height: 25pt;

}

.skills h2{
	margin-top: 0px;
    margin-bottom: 0px;
	font-family:'Supermercado One', cursive;
}

#skills-list{
margin-left: 30px;
margin-top: 0px;
}

/* Adding style to More Info About Me*/

.main-text{
	padding-bottom: 10px;
}
.main-text p{
	background-color:white;
	font-size: 1.5em;
	line-height: 25pt;
	
}
.main-text h3{ 
	clear: both;
	padding-top:60px;
	padding:top right bottom left;
	width: 70%;
	margin-bottom: 10px;
	font-family:'Supermercado One', cursive;
	color: white;
	font-size: 2em;
	
}

/*Appling formating to text and paragraph*/
h1,
h2,
h3{
	font-family: Futura, Helvetica, Arial, sans-serif;
}

p,
li{
	font-family: Georgia, serif;
}


/*
.container 2{
            width: 70%;
            padding-left: 20px;
            margin: 0 auto;
	        padding-right: 20px;
	       /*background-image:url("file:///Users/Yaw/Desktop/cf_template
		-1.1.1/img/dwn.jpg");
                	
}

.container{
	padding-top: 20px;
	border: 20px;
}

#image{
	image-orientation: center;
	
}*/
