body{
    background-color: azure;
    max-width: inherit;
}
.jumbotron {
      background-image: url("http://yaw-zeke.bitballoon.com/img/mfo1.jpg");
      background-size:cover;
        padding-bottom: 8px;
        padding-top: 5px;
    padding-left: 0px;
    
}

.jumbotron p{
	color:white;
	font-family: tahoma;
	text-align: left;

}

.jumbotron h1{
	color: white;
	font-family: tahoma;
	font-size:40pt;
	text-align: left;
	

}
.jumbotron a{
    color:azure;
	font-family: tahoma;
	font-size:10pt;
	margin-left: 10px;
	margin-right: 20px;
    padding-top: 10px;
    text-align: left;
    
}

.nav{
    border-bottom: 0px;
    padding-top: 10px;
    
    
}

container.nav{
	text-align: left;
	width:70%;
	border-left: 0px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 12px;
    margin-right: 12px;

}

/* Adding Pseudo- Classs.. */
.nav a:hover{
	color: lightsalmon;
	text-decoration: none;
	transition: color 600ms;
}


.container{
    padding-bottom: 20px;
    padding-right: 50px;
}

